version: "3.8"

services:
  production_db:
    image: postgres:18
    container_name: production_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./database:/var/lib/postgresql
    networks:
      - prod-app-network

  staging_db:
    image: postgres:18
    container_name: staging_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - ./database-staging:/var/lib/postgresql
    networks:
      - dev-app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot:ro
    networks:
      - prod-app-network
      - dev-app-network

  n8n_db:
    image: postgres:18
    container_name: n8n_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5434:5432"
    volumes:
      - ./database-n8n:/var/lib/postgresql
    networks:
      - prod-app-network

networks:
  prod-app-network:
    name: prod-app-network
    external: true
  dev-app-network:
    name: dev-app-network
    external: true
